@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-120 {
  width: 30rem
}

.text-xxs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.layout-ki {
  width: 35%;
  padding-right: 5px;
}

.layout-ki img {
  margin: 0.125rem;
}

.layout-bosses {
  width: 65%; 
  padding-left: 5px;
}

.obj-border {
  border-bottom: dotted 1px white;
  border-top: dotted 1px white;
}

.flag-badge {
  margin: 0.23rem 1rem;
  font-weight: 700;
}

.flag-badge-yay {
  color: #88FF88;
}

.flag-badge-danger {
  color: #FF6666;
}

.min-h-25-pct {
  min-height: 25%;
}

.highlighted {
  background-color: #888;
}